.gradCardGreen {
    background: #4fc474;
    background: linear-gradient(132deg, rgba(79, 196, 116, 1) 56%, rgba(181, 193, 196, 1) 100%);
}

.gradCardBlue {
    color: white !important;
    background: #44a4d4;
    background: linear-gradient(132deg, rgba(68, 164, 212, 1) 56%, rgba(181, 193, 196, 1) 100%);
}

.gradCardBlue2 {
    color: white !important;
    background: linear-gradient(132deg, rgb(142, 210, 244) 56%, rgba(181, 193, 196, 0.625) 100%);
}

.gradCardPink {
    color: white !important;
    background: #c572cc;
    background: linear-gradient(132deg, rgba(197, 114, 204, 1) 56%, rgba(181, 193, 196, 1) 100%);
}

.gradCardYellow {
    color: white !important;
    background: #cccc72;
    background: linear-gradient(132deg, rgba(204, 204, 114, 1) 56%, rgba(181, 193, 196, 1) 100%);
}

.glass-card {
    background: #ffffff0d;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(255, 255, 255, 0.2);
}

.glass-card-b {
    background: #ffffff1f;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid #ffffff33;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(255, 255, 255, 0.2);
}

.glass-card-no-bg {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(255, 255, 255, 0.2);
}


.glass-sidebar {
    background: #ffffff0d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
}

.glass-card-x {
    background: #808080eb;
    border: 1px solid #ffffff33;
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(255, 255, 255, 0.2);
}


.lightblue {
    background: linear-gradient(to bottom right, #ecfeff, #fff, #cffafe);
}


/* Header ECG line */
.ecg path {
    stroke-dasharray: 6 10;
    animation: dash 3s linear infinite;
}

@keyframes dash {
    to {
        stroke-dashoffset: -200;
    }
}