@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan';
  src: url('/fonts/iranyekanwebmedium.2d4f96e5.woff');
}

.yekan_font{
  font-family: 'Yekan';
}

:root {

  --colBg: #e4e4e4;
  --colCard: #f2f2f0;
  --colTextA: #3A3878;
  --colTextB: #838AAB;
  --zoomControl: #3a3a3a;
  --zoomControlText: #ffffff;
  --textHover: #60a5fa;
  --selecMarker: #99919d;
  --textTitle: #3A3878;

}

.dark {

  --colBg: #1F2E35;
  --colCard: #22343C;
  --colTextA: #ececec;
  --colTextB: #b7b7b7;
  --zoomControl: orange;
  --zoomControlText: #ffffff;
  --textHover: orange;
  --selecMarker: #eae1e1;
  --textTitle: orange;

}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-zoom-out {
  border-radius: 50% !important;
  background-color: var(--colBg) !important;
  color: var(--colTextA) !important;
  border: 1px solid var(--colTextA) !important;
}

.leaflet-control-zoom-in {
  border-radius: 50% !important;
  background-color: var(--colBg) !important;
  color: var(--colTextA) !important;
  border: 1px solid var(--colTextA) !important;
}

.leaflet-touch .leaflet-bar {
  border: none !important;
  display: flex !important;
  gap: 5px !important;
  flex-direction: row-reverse !important;
}


/* Chart styles */

.apexcharts-yaxis-label,
.apexcharts-xaxis-label {
  fill: var(--colTextB) !important;
}

.apexcharts-tooltip,
.apexcharts-tooltip-title {
  background-color: var(--colCard) !important;
}


/* map markers */

.blinking-circle-active {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1ac11a;
  animation: blink 1s infinite;
  position: relative;
  z-index: 9999999999;
}

.locMarker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1a76c1;
}


.blinking-circle-deactive {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff0000;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}




.selected-marker {
  position: relative;
  transform: scale(1.2);
}



.selected-marker.active::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #1ac11a;
  filter: drop-shadow(0 0 2px #1ac11a) drop-shadow(0 0 4px #1ac11a);
  animation: pulseNeon 1.0s ease-in-out infinite;
  z-index: -1;
}


.selected-marker.inactive::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ff0000;
  filter: drop-shadow(0 0 2px #ff0000) drop-shadow(0 0 4px #ff0000);
  animation: pulseNeon 1.0s ease-in-out infinite;
  z-index: -1;
}

@keyframes pulseNeon {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(2.5);
    opacity: 0.6;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}




input:focus {
  outline: 2px solid var(--textHover);
  border-radius: 2px;
  border: none;
}


.apexcharts-text {
  font-family: inherit !important;
}

.apexcharts-legend-text {
  color: inherit !important;
}


/* other */


.linkHover {
  transition: all 500ms ease-in-out;
}

.linkHover:hover {
  transform: scale(1.03);
}


/* rtl */

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


body {
  background: var(--colBg);
  transition: all ease-in-out 300ms;
}


.btnHover {
  transition: all 500ms ease-in-out;
}

.btnHover:hover {
  transform: scale(1.03);
  border-color: var(--textHover);
  color: var(--textHover);
}